<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calculator</title>
</head>
<body>
  <h1>Calculator</h1>
  <input type="number" [value]="firstNum" (change)="onFirstChange($event.target.value)">
  <select [value]="operator" (change)="onSelectChange($event.target.value)">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="number" [value]="secondNum" (change)="onSecondChange($event.target.value)">
  <button (click)="calculate()">Calculate</button>

  <div class="out">
    <h1>{{output}}</h1>
  </div>
</body>
</html>
