<div class="container" style="margin-bottom: 130px;">
    <div class="row w-100">
        <div class="col-lg-12 p-0">
            <div class="container mt-5">
                <h2>Form đăng kí nhân viên</h2>
                <form [formGroup]="employeeCreateForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlSelect1">Họ tên</label>
                            <input type="text" class="form-control" placeholder="" formControlName="employeeName">
                            <div class="alert alert-danger" role="alert" *ngIf="validationNameAndCheckTouched()">
                                Trường này không được để trống !
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Mã nhân viên</label>
                                <input type="text" class="form-control" placeholder="" formControlName="employeeCode">
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="validationCodeAndCheckTouched()">
                                Sai định dạng mã !
                            </div>
                            <!-- <i class="fa fa-check-circle" aria-hidden="true"></i> -->
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Số CMND</label>
                                <input type="text" class="form-control" placeholder="" formControlName="idCard">
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="validationIdCard()">
                                CMND 9 hoặc 12 số !
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Địa chỉ</label>
                                <input type="text" class="form-control" placeholder="" formControlName="address">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="">Ngày sinh</label>
                            <input type="date" class="form-control" placeholder="" formControlName="birthday">
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Số điện thoại</label>
                                <input type="text" class="form-control" placeholder="" formControlName="phoneNumber">
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="validationPhoneNumber()" >
                                Sai định dạng sdt !
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" placeholder="" formControlName="email">
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="validationEmail()">
                                Email định dạng: [abc@abc.com]
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Giới tính</label>
                                <input type="text" class="form-control" placeholder="" formControlName="gender">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="">Trình độ</label>
                            <select class="form-control" id="exampleFormControlSelect1"
                                formControlName="employeeLevelId">
                                <option>Đại học</option>
                                <option>Cao đẳng</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="">Vị trí</label>
                            <select class="form-control" id="exampleFormControlSelect1"
                                formControlName="employeeRoleId">
                                <option>Trưởng phòng</option>
                                <option>Phó phòng</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="">Bộ phận</label>
                            <select class="form-control" id="exampleFormControlSelect1"
                                formControlName="employeeDepartmentId">
                                <option>Lễ tân</option>
                                <option>Buồng phòng</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="">Lương</label>
                            <input type="text" class="form-control" placeholder="" formControlName="salary">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div>
                                <input type="button" value="Huỷ bỏ" class="btn btn-lg btn-outline float-right">
                            </div>
                            <div>
                                <input type="submit" value="Đăng kí" class="btn btn-lg btn-danger float-right mr-3">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div>Information</div>
<pre>{{ employeeCreateForm.value | json }}</pre> -->